<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KAIST 2013 CS492 Talent Donate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet" media="screen">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{% url 'status'%}">Talent Donate</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if no_auth %}
              {% else %}
              <li class="active"><a href="{% url 'status'%}">Home</a></li>
              <!-- teacher이냐 student이냐에 따라서 url이 바뀌는데 이걸 모든 페이지에서 항상 반환해주어야 한다!@>#!@?#?!@#?!@?#@! -->
              <li><a href="{% url 'status'%}{{url_temp_name}}/{{url_temp_id}}/">내 정보(메시지: {{num_messages}}개)</a></li>
              <!-- board category에서 가져오게 할 수도 있는데 그러려면 항상 이거 값을 반환해야 하므로... 일단 -->
              <li><a href="{% url 'board'%}?boardid=1">공지사항</a></li>
              <li><a href="{% url 'board'%}?boardid=2">수업논의</a></li>
              <li><a href="{% url 'board'%}?boardid=3">자유게시판</a></li>
              
              <li><a href="{% url 'logout' %}">로그아웃</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

    {% block contents %}

    {% endblock %}
   
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--
    <script src="{% static "bootstrap/js/jquery.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-transition.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-alert.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-modal.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-tab.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-popover.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-button.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap-typeahead.js" %}"></script>
    -->

    <script src="http://code.jquery.com/jquery.js"></script>    
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>