{% extends "base.html" %}
{% block contents %}

<h1>게시판 - {{ boardCategory.title }}</h1>


<table class="table">
  <tr>
    <td style="border-top:0px">총 게시물수: {{ totalCnt }}</td>
  </tr>
</table>

<table class="table">
  <tr>
      <td><p align=center>번호</p></td>
      <td><p align=center>이름</p></td>
      <td><p align=center>제목</p></td>
      <td><p align=center>등록일</p></td>
      <td><p align=center>조회수</p></td>
  </tr>

  {% if boardList %}
  <ul>
    {% for boardRow in boardList %}
    <tr>
    <td><p align=center>{{ boardRow.id }}</p></td>
    <td><p align=center>
      <a href="{% url 'status' %}{% if boardRow.account__teacher__name %}teacher/{{boardRow.account__teacher__id}}{% else %}student/{{boardRow.account_student__id}}{% endif %}">
      {{ boardRow.account__id }}({% if boardRow.account__teacher__name %}{{boardRow.account__teacher__name}}{% else %}{{boardRow.account__student__name}}{% endif %})
      </a>
    </p></td>
    <td>
        <p>
            <a href="{% url 'board_view_content'%}?content_id={{ boardRow.id }}&current_page={{ current_page }}&searchStr=None" title="{{ boardRow.content}}">{{ boardRow.subject }} ({{ boardRow.boardcomment__count }})
        </p>
    </td>
    <td width=100><p align=center>{{ boardRow.created_date }}</p></td>
    <td width=100><p align=center>{{ boardRow.hits }}</p></td>
    </tr>
    {% endfor %}
  </ul>
  {% else %}
  <p>No Data.</p>
  {% endif %}
</table>

<table class="table">
  <tr><td style="border-top:0px">
  </td></tr>
</table>

<table class="table">
  <tr>
    <td><a href="{% url 'board_write'%}?boardid={{boardCategory.id}}" class='btn'>글쓰기</a></td>
    <td>
      <!--<form name=searchf method=post action="/searchWithSubject/">
        <p align=right><input type=text name=searchStr size=50  maxlength=50>
        <input type=submit value="글찾기"></p>-->
    </td>
  </tr>
</table>

{% endblock %}