{% extends "base.html" %}

{% block contents %}
{% if teacher %}
      <h1>선생님 정보</h1>
      {% elif student %}
      <h1>학생 정보</h1>
      {% endif %}

      {% if teacher %}
      <ul>
        <li>Name : {{ teacher.name }}</li>
        <li>Email : {{ teacher.email }}</li>
        <li>Gender : {{ teacher.gender }}</li>
        <li>Age : {{ teacher.age }}</li>
        <li>Phone : {{ teacher.phone }}</li>
      </ul>
      {% elif student %}
      <ul>
        <li>Name : {{ student.name }}</li>
        <li>Gender : {{ student.gender }}</li>
        <li>Age : {{ student.age }}</li>
        <li>Phone : {{ student.phone }}</li>
      </ul>     
      {% endif %}

      {% if mine %}
      <h1>쪽지함</h1>
      {% else %}
      <h1>내가 보낸 쪽지</h1>
      {% endif %}

      <table class="table">
        <thead>
              <tr>
                <th>받는사람</th>
                <th>보낸사람</th>
                <th>내용</th>
                <th>날짜</th>
                <th>확인여부</th>
              </tr>         
        </thead>
        {% for m in messages %}
        <tr>
          <td>
            <a href="{% url 'status' %}{% if m.account__teacher__name %}teacher/{{m.account__teacher__id}}{% else %}student/{{m.account_student__id}}{% endif %}">
            {{ m.account__id }}({% if m.account__teacher__name %}{{m.account__teacher__name}}{% else %}{{m.account__student__name}}{% endif %})
            </a>
          </td>
          <td>
            <a href="{% url 'status' %}{% if m.account_sender__teacher__name %}teacher/{{m.account_sender__teacher__id}}{% else %}student/{{m.account_sender_student__id}}{% endif %}">
            {{ m.account_sender__id }}({% if m.account_sender__teacher__name %}{{m.account_sender__teacher__name}}{% else %}{{m.account_sender__student__name}}{% endif %})
            </a>
          </td>
          <td>{{ m.content }}</td>
          <td>{{ m.created_date }}</td>
          <td>{% if m.confirmed %}확인함{% else %}{% if m.mine %}<b>새 쪽지</b>{% else %}<b>미확인</b>{% endif %}{% endif %}</td>
          <td>
            <a href="./delete/?messageid={{m.id}}" class='btn btn-danger'>삭제</a>
          </td>
        </tr>
        {% endfor %}

        {% if not messages %}
        <tr>
          <td>쪽지가 없습니다.</td>
        </tr>
        {% endif %}
      </table>

      <!-- 
      쪽지 정보를 띄운다.
      -->

      {% if not mine %}
      <form class="form-inline" method="post">
        <p>새 쪽지 작성</p>
        <input type="hidden" name="account_id" value="{{ account_id }}">
        <input type="text" class="input-small" id="inputEmail" disabled="true" value="{{ account_id }}">
        <input type="text" class="input-xxlarge" id="inputPassword" name="content" placeholder="쪽지 내용을 입력하세요.">
        <button type="submit" class="btn">등록</button>
      </form>
      {% endif %}
      


      <h1>수업 로그</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>시작시간</th>
            <th>끝난 시간</th>
            <th>컨텐츠</th>
            <th>선생님</th>
            <th>학생</th>
            <th>선생님 코멘트</th>
            <th>학생 코멘트</th>
            <th>선생님 점수</th>
            <th>학생 점수</th>
          </tr>          
        </thead>
        <tbody>
          {% if history %}
          {% for h in history %}
          <tr>
            <td>{{ h.datetime_begin }}</td>
            <td>{{ h.datetime_end }}</td>
            <td>{{ h.content_name }}</td>
            
            {% if teacher %}
            <td>{{ h.teacher.name }}</td>
            <td><a href="{% url 'detail' 'student' h.student.id %}">{{ h.student.name }}</a></td>
            {% elif student %}
            <td><a href="{% url 'detail' 'teacher' h.teacher.id %}">{{ h.teacher.name }}</a></td>
            <td>{{ h.student.name }}</td>
            {% endif %}

            <td>{{ h.comment_teacher }}</td>
            <td>{{ h.comment_student }}</td>
            <td>{{ h.score_teacher }}</td>
            <td>{{ h.score_student }}</td>
          </tr>
          {% endfor %}  
          {% endif %}
        </tbody>
      </table> 
{% endblock %}