{% extends "base.html" %}

{% block contents %}
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputID">ID</label>
    <div class="controls">
      <input type="text" id="inputID" placeholder="ID" name="id">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" name="pw">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">로그인</button>
    </div>
  </div>

  {% if next %}
  <input type="hidden" name="next" value="{{next}}" />
  {% endif %}
</form>
{% endblock %}