{% extends "base.html" %}
{% block contents %}
      <h1>실시간 접속 현황</h1>

      <div class="row">
        <div class="span6">
          <h3>현재 매칭 수 : {{ matched_list.count }}</h3>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>선생님</th>
                <th>학생</th>
                <th>컨텐츠</th>
                <th>시작시간</th>
              </tr>          
            </thead>
            <tbody>
              {% if matched_list %}
              {% for m in matched_list %}
              <tr>
                <td><a href="{% url 'detail' 'teacher' m.teacher.id %}">{{ m.teacher.name }}</a></td>
                <td><a href="{% url 'detail' 'student' m.student.id %}">{{ m.student.name }}</a></td>
                <td>{{ m.content_name }}</td>
                <td>{{ m.datetime_begin }}</td>
              </tr>
              {% endfor %}  
              {% endif %}
            </tbody>
          </table>
        </div>

        <div class="span6">
          <h3>선생님 대기열 수 : {{ matching_list.count }}</h3>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>선생님</th>
                <th>대기열 등록 시간</th>
              </tr>          
            </thead>
            <tbody>
              {% if matching_list %}
              {% for m in matching_list %}
              <tr>
                <td><a href="{% url 'detail' 'teacher' m.teacher.id %}">{{ m.teacher.name }}</a></td>
                <td>{{ m.datetime_register }}</td>
              </tr>
              {% endfor %}  
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>

      <!--<div class="tabbable">-->
      <h1>전체 유저 정보</h1>

        <!-- 필터를 form으로 만들었음...-->
        <!-- 아니면 아예 자바스크립트로 만들어도 됨... -->
        <!-- 폼은 편하다는 장점이 있고 자바스크립트는 쿼리를 다시 안날려도 되는 대신에 귀찮음 -->


        <ul class="nav nav-tabs">
          <li{% if not student_active %} class="active"{% endif %}><a href="#tabs-teacher" data-toggle="tab">선생님 정보 보기</a></li>
          <li{% if student_active %} class="active"{% endif %}><a href="#tabs-student" data-toggle="tab">학생 정보 보기</a></li>        
        </ul>


        <form class="form-inline" method="POST">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>학습횟수 순</th>
                <th>성취도 점수</th>
                <th>연령</th>
                <th>성별</th>
                <th>이름</th>
                <th></th>
              </tr>          
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="radio">
                    <input type="radio" name="order" id="optionsRadios1" value="option1" checked>
                    많음
                  </label>
                  <label class="radio">
                    <input type="radio" name="order" id="optionsRadios2" value="option2" checked>
                    적음
                  </label>
                </td>
                <td>
                  <select name="score">
                    <option>4~5점</option>
                    <option>3~4점</option>
                    <option>2~3점</option>
                    <option>1~2점</option>
                    <option>0~1점</option>
                  </select>
                </td>
                <td>
                  <input name="age" type="text" placeholder="Text input">
                </td>
                <td>
                  <select name="gender">
                    <option>남</option>
                    <option>여</option>
                  </select>
                </td>
                <td>
                  <input name="name" type="text" placeholder="Text input">
                </td>
                 <td>
                  <button type="submit" class="btn">조회</button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>

        <div id="user_info">


        <div class="tab-content">
          <div class="tab-pane {% if not student_active %}active{% endif %}" id="tabs-teacher">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>이름</th>
                  <th>연락처</th>
                  <th></th>
                </tr>          
              </thead>
              <tbody>
                {% if teacher_list %}
                {% for teacher in teacher_list %}
                <tr>
                  <td>{{ teacher.name }}</td>
                  <td>{{ teacher.email }}</td>
                  <td><a href="{% url 'detail' 'teacher' teacher.id %}">자세히</a></td>
                </tr>
                {% endfor %}  
                {% endif %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane {% if student_active %}active{% endif %}" id="tabs-student">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>이름</th>
                  <th>연락처</th>
                  <th></th>
                </tr>          
              </thead>
              <tbody>
                {% if student_list %}
                {% for student in student_list %}
                <tr>
                  <td>{{ student.name }}</td>
                  <td>{{ student.phone }}</td>
                  <td><a href="{% url 'detail' 'student' student.id %}">자세히</a></td>
                </tr>
                {% endfor %}  
                {% endif %}
              </tbody>
            </table>  
          </div>
        </div>
      </div>
{% endblock %}