{% extends "base.html" %}

{% block contents %}
<h2>{{ boardData.boardcategory.title }}</h2>
<table class="table">
  <tr><td><b>ID</b></td><td> {{ boardData.id }}</td></tr>
  <tr><td><b>조회수</b></td><td> {{ boardData.hits }} </td></tr>
  <tr><td><b>이름 </b></td><td> {{ boardData.account.id }}({% if boardData.account.teacher %}{{boardData.account.teacher.name}}{% else %}{{boardData.account.student.name}}{% endif %}) </td></tr>
  <tr><td><b>제목 </b></td><td><b> {{ boardData.subject }} </b></td></tr>
  <tr>
    <td><b>내용 </b></td>
    <td> {{ boardData.content }} </td>
  </tr>
</table>

<table class="table">
  <caption>댓글</caption>
  {% for comment in comments %}
  <tr>
    <td>
      <a href="{% url 'status' %}{% if comment.account__teacher__name %}teacher/{{comment.account__teacher__id}}{% else %}student/{{comment.account_student__id}}{% endif %}">
      {{ comment.account__id }}({% if comment.account__teacher__name %}{{comment.account__teacher__name}}{% else %}{{comment.account__student__name}}{% endif %})
      </a>
    </td>
    <td>{{ comment.content }}</td>
    <td>
      {% if comment.mine %}
      <a href="{% url 'comment_delete' %}?commentid={{comment.id}}&boardid={{boardData.id}}" class='btn btn-danger'>삭제</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  {% if comments %}
  {% else %}
  <tr>
    <td>등록된 댓글이 없습니다.</td>
  </tr>
  {% endif %}
</table>

<form class="form-inline" method="post">
  <p>새 댓글 달기</p>
  <input type="hidden" name="account_id" value="{{ account_id }}">
  <input type="text" class="input-small" id="inputEmail" disabled="true" value="{{ account_id }}">
  <input type="text" class="input-xxlarge" id="inputPassword" name="comment" placeholder="댓글 내용을 입력하세요.">
  <button type="submit" class="btn">등록</button>
</form>

<table cellspacing = 0 cellpadding = 0 border = 0 width=500>
    <tr>
      <td>
        <a href="{% url 'board' %}?boardid={{boardData.boardcategory.id}}" class='btn'>목록</a>
        {% if account_id == boardData.account.id %}
        <a href="{% url 'board_write' %}?boardid={{boardData.boardcategory.id}}&id={{boardData.id}}" class='btn'>수정</a>
        <a href="{% url 'board_delete' %}?boardid={{boardData.boardcategory.id}}&id={{boardData.id}}" class='btn btn-danger'>삭제</a>
        {% endif %}
      </td>
    </tr>
</table>

{% endblock %}