{% extends "base.html" %}

{% block contents %}

     <h2>게시물 작성 - {{boardCategory.title}}</h2>
        <table class="table">
          <form class="" name=writeform method=post action="{% url 'board_write_confirm'%}">
            <tr><td><b>이름</b></td><td>
              <!--<input type=text name=name style="width:80%" maxlength=50 />-->
              {{ account.id }}
            </td></tr>
            {% if board %}
            <input type="hidden" name="id" value="{{board.id}}" />
            {% endif %}
            <input type="hidden" name="account_id" value="{{account.id}}" />
            <input type="hidden" name="board_id" value="{{boardCategory.id}}" />
            
            <!--<tr><td><b>이메일</b></td><td><input type=text name=email style="width:80%" maxlength=50></td></tr>-->
            <tr>
              <td>
                <b>제목</b>
              </td>
              <td>
                <input type=text name=subject style="width:80%" maxlength=50 value="{% if board %}{{board.subject}}{% endif %}">
              </td>
            </tr>
            <tr>
              <td>
                <b>내용</b>
              </td>
              <td>
                <textarea name=content style="width:100%" cols=50 rows=10>{% if board %}{{board.content}}{% endif %}</textarea>
              </td>
            </tr>
            <tr><td><input type=button class='btn' value="{% if board %}수정{% else %}등록{% endif %}" OnClick="javascript:writeCheck();"></td><td></td></tr>
          </form>
        </table>
    <script language="javascript">
      function writeCheck() {
          var form = document.writeform;

          if (!form.subject.value) {
              alert("제목을 적어주세요");
              form.subject.focus();
              return;
          }
          if (!form.content.value) {
              alert("내용을 적어주세요");
              form.content.focus();
              return;
          }
          form.submit();
      }
  </script>



{% endblock %}